<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Take A Hike</title>
</head>
<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">Take A Hike</a>
            </h1>
            <nav>
                <ul class="nav-list">
                    <!-- Homepage and gallery for any user, logged in or not -->
                    <li class="nav-list-item">
                        <an href="/">Homepage</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="/gallery">Gallery</a>
                    </li>
                    <!-- Dashboard and Logout only if user is logged in -->
                    <li class="nav-list-item">
                        <a href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="/logout">Logout</a>
                    </li>
                    <!-- Login and signup only if user is not logged in -->
                    <li class="nav-list-item">
                        <a href="/login">Login</a>
                    </li>
                    <li class="nav-list-item">
                        <a href="/signup">Signup</a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting. Now take a hike!
        </footer>
    </div>
    
</body>
</html>