<section class="hero is-success mb-6">
  <div class="hero-body">
    <p class="title is-italic">
      Success hero
    </p>
    <p class="subtitle is-italic">
      Success subtitle
    </p>




    <form class="login-form">
      <div>
        <label for="email-login">email:</label>
        <input type="text" id="email-login" />
      </div>
      <div>
        <label for="password-login">password:</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button type="submit">Login</button>
      </div>
    </form>
  </div>
</section>
<script src="/javascript/login.js"></script>