<section class="hero is-success mb-6">
  <div class="hero-body">
    <p class="title is-italic">
      Login
    </p>
    <p class="subtitle is-italic">
      It's free and only takes a minute
    </p>
    <form class="login-form">
      <div class="field">
        <label for="email-login">email:</label>
        <p class="control has-icons-left has-icons-right">
          <input class='input' type="email" placeholder="Email" id="email-login">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <label for="password-login">password:</label>
        <p class="control has-icons-left">  
          <input class="input" type="password" placeholder="Password" id="password-login">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>
      <div class="field">
        <button class="button is-success-dark">Login</button>
      </div>
    </form>
  </div>
</section>
<script src="/javascript/login.js"></script>

