<form class="logout-form">
    <div>
        <p>Are You Sure You Want To Logout</p>
    </div>
    <div>
        <button type="submit">Logout</button>
    </div>
</form>

<script src="/javascript/logout.js"></script>