<section class="hero is-success">
  <div class="hero-body">
    <p class="title">
      Success hero
    </p>
    <p class="subtitle">
      Success subtitle
    </p>
  </div>
</section>


<form class="logout-form">
    <div>
        <p>Are You Sure You Want To Logout</p>
    </div>
    <div>
        <button type="submit">Logout</button>
    </div>
</form>

<script src="/javascript/logout.js"></script>